.navbar {
    z-index: 100;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-bottom: #e2e2e2 1px solid;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, .05) 0 1px 3px;
}

.navbar .navbar-left {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 4px;
    display: block;
    min-width: 44px;
    height: 44px;
    box-sizing: border-box;
}

.navbar .navbar-left .button-icon {
    position: absolute;
    left: 8px;
    top: 15px;
    display: block;
    width: 8px;
    height: 15px;
    line-height: 22px;
    box-sizing: border-box;
}

.navbar .navbar-left .button-text {
    margin-left: 24px;
    height: 44px;
    box-sizing: border-box;
    color: #404245;
    font-size: 14px;
    font-weight: normal;
    line-height: 44px;
}

.navbar .navbar-title {
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    color: #404245;
    font-size: 14px;
    font-weight: normal;
    line-height: 44px;
    text-align: center;
}

.navbar .navbar-right {
    z-index: 50;
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
    min-width: 44px;
    height: 44px;
    box-sizing: border-box;
}

.navbar .navbar-right .button-icon {
    position: absolute;
    right: 8px;
    top: 15px;
    display: block;
    width: 8px;
    height: 15px;
    line-height: 22px;
    box-sizing: border-box;
}

.navbar .navbar-right .button-text {
    margin-right: 24px;
    height: 44px;
    box-sizing: border-box;
    color: #404245;
    font-size: 14px;
    font-weight: normal;
    line-height: 44px;
}


.profile-head {
    display: block;
    width: 100%;
    height: 110px;
    margin: 0;
    background-color: #757a80;
    border-bottom: #e2e2e2 1px solid;
    overflow: hidden;
}

.profile-head .head-avatar {
    float: left;
    display: block;
    margin-top: 24px;
    margin-left: 24px;
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    border-radius: 50%;
}

.profile-head .head-info {
    float: left;
    display: block;
    margin-top: 34px;
    margin-left: 12px;
    box-sizing: border-box;
}

.profile-head .head-info .info-name {
    display: block;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}

.profile-head .head-info .info-grade {
    margin-top: 6px;
    display: block;
    text-align: left;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
}

.profile-menu {
    position: relative;
    display: block;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: #e2e2e2 1px solid;
}

.profile-menu .menu-item {
    position: relative;
    float: left;
    display: block;
    width: 25%;
    border: none;
    box-sizing: border-box;
    padding: 20px 0;
}

.profile-menu .menu-item .item-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    overflow: hidden;
}

.profile-menu .menu-item .item-text {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    color: #404245;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.profile-menu .menu-item .item-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 20px;
    padding: 0 3px;
    height: 16px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 4px;
    color: #f3424c;
    font-size: 10px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    border: 1px #f3424c solid;
    background-color: #ffffff;
}

.profile-item {
    position: relative;
    display: block;
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: #e2e2e2 1px solid;
    overflow: hidden;
}

.profile-item .item-icon {
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}

.profile-item .item-name {
    margin-left: 54px;
    display: block;
    height: 54px;
    box-sizing: border-box;
    line-height: 54px;
    color: #404245;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

.profile-item .item-desc {
    position: absolute;
    top: 0;
    right: 32px;
    display: block;
    box-sizing: border-box;
    line-height: 54px;
    color: #888888;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

.profile-item .item-arrow {
    position: absolute;
    right: 14px;
    top: 21px;
    display: block;
    width: 6px;
    height: 12px;
    line-height: 54px;
    box-sizing: border-box;
}

.profile-submit {
    display: block;
    height: 44px;
    margin: 0 8px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    background-color: #404245;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 44px;
    text-align: center;
}

.profile-submit:hover {
    background-color: #616161;
}


.footer{position: fixed;bottom: 0;background: #fff;width: 100%;height: 60px;max-width: 750px;z-index: 9}
.footer ul li{width: 50%;text-align: center;float: left;text-align: center;}
.footer ul li a{color: #666;font-size: 12px}
.footer ul li img{width: 24px;height: 24px; margin-top:10px;}
.footer ul li span{margin-left:-4px;}
.footer .active{color: #ff8098}